{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<section>

    <h1>My Profile</h1>

    <hr>

    <div class="profile-card">

        <h3>Profile Information</h3>

        <br>

        <p><strong>Name:</strong> Sayee Vispute</p>

        <p><strong>Email:</strong> sayee@example.com</p>

        <p><strong>Role:</strong> Employee</p>

        <p><strong>Organization:</strong> ABC Company</p>

        <p><strong>Department:</strong> Development</p>

    </div>

    <br>

    <button>Edit Profile</button>

    <button>Change Password</button>

</section>

{% endblock %}