{% extends 'base.html' %}

{% block title %}
Team Members
{% endblock %}

{% block content %}

<script src="https://cdn.tailwindcss.com"></script>


<section>

    <h1>Team Members</h1>

    <hr>

    <div class="cards">

        <div class="card">
            <h3>Total Members</h3>
            <p>{{ users|length }}</p>
        </div>

        <div class="card">
            <h3>Admins</h3>
            <p>{{ admin_count }}</p>
        </div>

        <div class="card">
            <h3>Managers</h3>
            <p>{{ manager_count }}</p>
        </div>

        <div class="card">
            <h3>Members</h3>
            <p>{{ member_count }}</p>
        </div>

    </div>

    <hr>

    <div class="toolbar">

        {% if request.user.role.name == "Owner" or request.user.role.name == "Admin" %}
        <button>Add Member</button>
        {% endif %}

        <input type="text" placeholder="Search Member">

        <select>
            <option>All Roles</option>

            {% for role in roles %}
                <option>{{ role.name }}</option>
            {% endfor %}

        </select>

    </div>

    <table>

        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Status</th>
        </tr>

        {% for user in users %}

        <tr>

            <td>

                {% if user.first_name or user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}

            </td>

            <td>
                {{ user.role.name }}
            </td>

            <td>
                {{ user.email }}
            </td>

            <td>

                {% if user.is_active %}
                    Active
                {% else %}
                    Inactive
                {% endif %}

            </td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="4" style="text-align:center;">
                No team members found.
            </td>

        </tr>

        {% endfor %}

    </table>

</section>

{% endblock %}