<!DOCTYPE html>

<html>

<body style="font-family: Arial, sans-serif;">


<h2>
You have been invited to join {{ organization.name }}
</h2>


<p>
You have received an invitation to join
<strong>{{ organization.name }}</strong>.
</p>


<p>
Assigned Role:
<strong>{{ role }}</strong>
</p>


<p>
Click the button below to create your account:
</p>


<a href="{{ invitation_url }}"
style="
background:#4f46e5;
color:white;
padding:12px 20px;
border-radius:8px;
text-decoration:none;
">

Accept Invitation

</a>


<p style="margin-top:30px;color:#777;">

This invitation link is unique to you.

</p>


</body>

</html>