{% extends "base.html" %}

{% block content %}

<div class="min-h-screen bg-[#140F1F] text-white p-8">

<div class="max-w-7xl mx-auto">


<h1 class="text-3xl font-bold mb-8">
Organization Users
</h1>


<div class="bg-white/10 rounded-xl overflow-hidden">


<table class="w-full">


<thead class="bg-white/10">

<tr>

<th class="p-4 text-left">
Username
</th>

<th class="p-4 text-left">
Email
</th>

<th class="p-4 text-left">
Role
</th>

<th class="p-4 text-left">
Status
</th>

<th class="p-4 text-left">
Joined
</th>

</tr>

</thead>


<tbody>


{% for user in users %}

<tr class="border-t border-white/10">


<td class="p-4">
{{ user.username }}
</td>


<td class="p-4">
{{ user.email }}
</td>


<td class="p-4">

{% if user.role %}

{{ user.role.name }}

{% else %}

No Role

{% endif %}

</td>


<td class="p-4">

{% if user.is_active %}

<span class="text-green-400">
Active
</span>

{% else %}

<span class="text-red-400">
Disabled
</span>

{% endif %}

</td>


<td class="p-4">
{{ user.date_joined|date:"d M Y" }}
</td>


</tr>


{% empty %}


<tr>

<td colspan="5" class="p-6 text-center">

No users found.

</td>

</tr>


{% endfor %}


</tbody>


</table>


</div>


</div>

</div>


{% endblock %}