{% extends "base.html" %}

{% block content %}

<script src="https://cdn.tailwindcss.com"></script>


<div class="min-h-screen bg-gray-100 py-10 px-4">


    <div class="max-w-xl mx-auto">


        <div class="bg-white border border-gray-200 rounded-2xl shadow-xl overflow-hidden">


            <!-- Header -->

            <div class="px-8 py-6 border-b border-gray-200">


                <h2 class="text-3xl font-bold text-gray-800">

                    Edit Profile

                </h2>


                <p class="text-gray-500 mt-2">

                    Update your personal information.

                </p>


            </div>




            <!-- Form -->


            <div class="p-8">


                <form method="post" class="space-y-6">


                    {% csrf_token %}



                    <div
                    class="text-gray-800

                    [&_p]:mb-5


                    [&_label]:block
                    [&_label]:text-sm
                    [&_label]:font-medium
                    [&_label]:text-gray-700
                    [&_label]:mb-2


                    [&_input]:w-full
                    [&_input]:px-4
                    [&_input]:py-3
                    [&_input]:rounded-xl
                    [&_input]:bg-white
                    [&_input]:border
                    [&_input]:border-gray-300
                    [&_input]:text-gray-800
                    [&_input]:focus:outline-none
                    [&_input]:focus:ring-2
                    [&_input]:focus:ring-cyan-500/60


                    [&_textarea]:w-full
                    [&_textarea]:px-4
                    [&_textarea]:py-3
                    [&_textarea]:rounded-xl
                    [&_textarea]:bg-white
                    [&_textarea]:border
                    [&_textarea]:border-gray-300
                    [&_textarea]:text-gray-800


                    [&_select]:w-full
                    [&_select]:px-4
                    [&_select]:py-3
                    [&_select]:rounded-xl
                    [&_select]:bg-white
                    [&_select]:border
                    [&_select]:border-gray-300
                    [&_select]:text-gray-800
                    ">


                        {{ form.as_p }}


                    </div>




                    <button
                        type="submit"
                        class="w-full bg-cyan-600 hover:bg-cyan-700 text-white font-semibold py-3 rounded-xl transition duration-300 shadow-lg">

                        Save Changes

                    </button>



                </form>




                <div class="mt-6 text-center">


                    <a
                        href="{% url 'profile' %}"
                        class="inline-block px-6 py-3 rounded-xl bg-gray-100 border border-gray-300 hover:bg-gray-200 text-gray-700 transition">

                        Cancel

                    </a>


                </div>



            </div>



        </div>



    </div>



</div>


{% endblock %}