<h1>Create Task</h1>

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <input type="text" name="title" placeholder="Task Title" required>
    <br><br>

    <select name="project" required>
        <option value="">Select Project</option>   <!-- ✅ IMPORTANT -->
        {% for project in projects %}
            <option value="{{ project.id }}">{{ project.name }}</option>
        {% endfor %}
    </select>

    <br><br>

    <button type="submit">Create Task</button>

    <label>Priority</label>
<select name="priority">
    <option value="high">High</option>
    <option value="medium" selected>Medium</option>
    <option value="low">Low</option>
</select>

<label>Dependency</label>
<select name="dependency" class="form-control">
    <option value="">None</option>
    {% for t in tasks %}
        <option value="{{ t.id }}">
            {{ t.title }}
        </option>
    {% endfor %}
</select>
</form>