{% extends 'base01.html' %}

{% block content %}

<div class="card">

    <h1>Projects</h1>

    <a href="/projects/create/" class="btn">
        + Create Project
    </a>

</div>


<div class="card">

<table>

<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Created By</th>
    <th>Organization</th>
    <th>Progress</th>
</tr>


{% for project in projects %}

<tr>

<td>
    <a href="{% url 'project_detail' project.id %}">
        {{ project.name }}
    </a>
</td>


<td>
    {{ project.description }}
</td>


<td>
    {{ project.created_by }}
</td>


<td>
    {{ project.organization }}
</td>


<td style="width:180px;">


<small>
{{ project.progress }}%
</small>


<div class="progress">

<div class="progress-bar"
style="
width:{{ project.progress }}%;

{% if project.progress < 40 %}
background:#ef4444;

{% elif project.progress < 80 %}
background:#f59e0b;

{% else %}
background:#22c55e;

{% endif %}

">
</div>

</div>


</td>


</tr>


{% empty %}

<tr>

<td colspan="5">
No projects available
</td>

</tr>


{% endfor %}


</table>


</div>


{% endblock %}