<nav>

    <h2>Multi-Tenant SaaS</h2>

    <div class="nav-right">

    <span class="org-name">
        Organization :
        {{ request.user.organization.name }}
    </span>

    <a href="#">
        <i class="fa-solid fa-bell"></i>
        Notifications
    </a>

    <a href="{% url 'profile' %}">
        <i class="fa-solid fa-user"></i>
        Profile
    </a>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </button>
    </form>

</div>


</nav>