<aside>

    <h3>MENU</h3>

    <hr>

    <ul>

    <li>
        <a href="{% url 'dashboard' %}">
            <i class="fa-solid fa-house"></i>
            Dashboard
        </a>
    </li>

    <li>
        <a href="{% url 'project_list' %}">
            <i class="fa-solid fa-diagram-project"></i>
            Projects
        </a>
    </li>

    <li>
        <a href="{% url 'tasks' %}">
            <i class="fa-solid fa-list-check"></i>
            Tasks
        </a>
    </li>

    <li>
        <a href="{% url 'kanban' %}">
            <i class="fa-solid fa-table-columns"></i>
            Kanban Board
        </a>
    </li>

    <li>
        <a href="{% url 'reports' %}">
            <i class="fa-solid fa-chart-column"></i>
            Reports
        </a>
    </li>

    <li>
        <a href="{% url 'team_members' %}">
            <i class="fa-solid fa-users"></i>
            Team Members
        </a>
    </li>

    <li>
        <a href="{% url 'profile' %}">
            <i class="fa-solid fa-user"></i>
            Profile
        </a>
    </li>

    <li>
        <a href="{% url 'settings' %}">
            <i class="fa-solid fa-gear"></i>
            Settings
        </a>
    </li>

    <li>
        <a href="#">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </a>
    </li>

</ul>

    <hr>

</aside>