{% extends 'base.html' %}

{% block title %}
Tasks
{% endblock %}

{% block content %}

<section>

<div class="tasks-header">

    <div>

        <h1>Tasks</h1>

        <p class="page-description">
            Manage all project tasks efficiently.
        </p>

    </div>

    <button>

        <i class="fa-solid fa-plus"></i>

        New Task

    </button>

</div>

<hr>

<div class="cards">

    <div class="card blue">

        <div class="card-header">

            <h3>Total Tasks</h3>

            <i class="fa-solid fa-list-check"></i>

        </div>

        <p>120</p>

        <span>Across all projects</span>

    </div>

    <div class="card green">

        <div class="card-header">

            <h3>Completed</h3>

            <i class="fa-solid fa-circle-check"></i>

        </div>

        <p>80</p>

        <span>Finished</span>

    </div>

    <div class="card orange">

        <div class="card-header">

            <h3>Pending</h3>

            <i class="fa-solid fa-hourglass-half"></i>

        </div>

        <p>35</p>

        <span>Need Attention</span>

    </div>

    <div class="card red">

        <div class="card-header">

            <h3>Overdue</h3>

            <i class="fa-solid fa-triangle-exclamation"></i>

        </div>

        <p>5</p>

        <span>Complete Soon</span>

    </div>

</div>
<hr>

<div class="toolbar">

    <div class="search-box">

        <i class="fa-solid fa-magnifying-glass"></i>

        <input type="text" placeholder="Search Task...">

    </div>

    <select>

        <option>All Status</option>
        <option>Pending</option>
        <option>In Progress</option>
        <option>Completed</option>

    </select>

    <select>

        <option>All Priority</option>
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>

    </select>

    <button>

        <i class="fa-solid fa-plus"></i>

        Add Task

    </button>

</div>

<hr>

</section>

{% endblock %}