<!DOCTYPE html>
<html>

<head>
    <title>Organization Detail</title>
</head>

<body>

<h2>
    Organization Details
</h2>




<p>
    <strong>Name:</strong>
    {{ organization.name }}
</p>

<p>
    <strong>Domain:</strong>
    {{ organization.domain }}
</p>

<p>
    <strong>Email:</strong>
    {{ organization.contact_email }}
</p>

<p>
    <strong>Phone:</strong>
    {{ organization.contact_phone }}
</p>

<p>
    <strong>Plan:</strong>
    {{ organization.plan }}
</p>

<p>
    <strong>Status:</strong>
    {{ organization.status }}
</p>

<p>
    <strong>Maximum Users:</strong>
    {{ organization.max_users }}
</p>

<p>
    <strong>Maximum Projects:</strong>
    {{ organization.max_projects }}
</p>

<p>
    <strong>Storage Limit:</strong>
    {{ organization.storage_limit_gb }} GB
</p>

<p>
    <strong>Created At:</strong>
    {{ organization.created_at }}
</p>

{% if organization.logo %}

<img 
    src="{{ organization.logo.url }}"
    width="120"
>

{% endif %}

<br>

<a href="{% url 'organization_update' organization.id %}">
    Edit Organization
</a>

<br>

<a href="{% url 'organization_delete' organization.id %}">
    Delete Organization
</a>

<br>

<a href="{% url 'organization_toggle_status' organization.id %}">

    {% if organization.status == "ACTIVE" %}
        Deactivate Organization
    {% else %}
        Activate Organization
    {% endif %}

</a>


</body>

</html>